<% provide(:title, "About") %>
<h1>About</h1>
<p>
    The <a href="http://relentlesshack.sdf.org"><em>SDF Cluster Relentlesshack Page</a> has been around
    for probably like a month or so. IDK, it's not that serious. Go there to check out my tex file work
    that probably won't be used. To be fair LaTeX sucks for sharepoint authoring so there's that. What
    is the moral of the story? Start with Showdown.js from the get-go. 
</p>